html {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

h2 {
  border-bottom: 1px solid #acacac;
}

blockquote {
  border-radius: 6px;
  background-color: #eff0f5;
  border: 1px solid #cacaca;
  font-family: monospace;
  padding: 1em 0.5em;
}

em {
  font-style: normal;
  background-color: #eff0f5;
  font-family: monospace;
}

p strong {
  color: #6094e0;
  border-left: 4px solid #165cdd;
  padding-left: 0.25em;
}
